// Bootstrap Buttons
.btn {
  &:not(.btn-link),
  &:not(.btn-link) {
    box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  }
  &:disabled {
    color: $gray-400;
    box-shadow: none !important;
  }
  &-primary {
    color: $white;
    &:hover {
      color: $white;
      background-color: $primary-dark;
      border-color: $primary-dark;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-light {
    background-color: $white;
    &:hover {
      color: $yellow;
      background-color: $white;
      border-color: $white;
    }
    &:disabled {
      background-color: $white;
      border-color: $gray-100;
    }
  }
  &-dark {
    &:hover {
      color: $white;
      background-color: $yellow;
      border-color: $white;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-danger {
    &:hover {
      color: $danger;
      background-color: #feeeee;
      border-color: #ffe0e0;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-warning {
    color: $danger;
    background-color: $red-light;
    border-color: #ffe0e0;
    &:hover {
      color: $white;
      background-color: $danger;
      border-color: $danger;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-icon {
    min-width: 40px;
    min-height: 40px;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      left: 10px; /* Розташування іконки */
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(attr(data-icon));
    }
  }
  &-sm {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1;
    & > img,
    & > svg {
      width: 18px;
      height: 18px;
    }
    &.btn-icon {
      min-width: 32px;
      min-height: 32px;
      padding: 0.5rem;
    }
  }
}

// Dx Buttons
.dxbl-btn.dxbl-btn-standalone {
  --dxbl-btn-padding-x: 0.75rem;
  --dxbl-btn-padding-y: 0.4375rem;
  --dxbl-btn-border-radius: 0.5rem;
  --dxbl-btn-font-size: 1rem;
  --dxbl-btn-line-height: 1.5;
  font-weight: 500;
  &.dxbl-btn-primary,
  &.dxbl-btn-secondary,
  &.dxbl-btn-success,
  &.dxbl-btn-info,
  &.dxbl-btn-danger,
  &.dxbl-btn-warning,
  &.dxbl-btn-light,
  &.dxbl-btn-dark {
    --dxbl-btn-box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  }
  &.dxbl-btn-secondary {
    color: $white;
  }
  &.dxbl-sm {
    --dxbl-btn-padding-x: 0.75rem;
    --dxbl-btn-padding-y: 0.3125rem;
    --dxbl-btn-font-size: 0.875rem;
    --dxbl-btn-line-height: 1.5;
  }
  &.dxbl-btn-danger {
    &:hover {
      color: $danger;
      background: $red-light;
      border-color: #ffe0e0;
    }
  }
  &.dxbl-btn-warning {
    color: $danger;
    background-color: $red-light;
    border-color: #ffe0e0;
    &:hover {
      color: $white;
      background-color: $danger;
      border-color: $danger;
    }
  }
  &.dxbl-btn-light {
    background-color: $white;
    &:hover {
      color: $yellow;
      background: $white;
      border-color: $white;
    }
  }
  &.dxbl-btn-dark {
    &:hover {
      color: $white;
      background: $yellow;
      border-color: $white;
    }
  }
  &.dxbl-btn-link {
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }
  &.dxbl-btn-link,
  &.dxbl-btn-none {
    box-shadow: unset;
  }
  &.dxbl-disabled {
    color: $gray-400 !important;
    &.dxbl-btn-primary,
    &.dxbl-btn-secondary,
    &.dxbl-btn-success,
    &.dxbl-btn-info,
    &.dxbl-btn-danger,
    &.dxbl-btn-warning,
    &.dxbl-btn-light,
    &.dxbl-btn-dark {
      background: $gray-100 !important;
      border-color: $gray-100 !important;
    }
    &.dxbl-btn-info,
    &.dxbl-btn-warning,
    &.dxbl-btn-light {
      background: $white !important;
    }
  }
  &.dxbl-btn-outline-light {
    --dxbl-btn-bg: var(--bs-white);
    --dxbl-btn-color: var(--bs-gray-800);
    --dxbl-btn-hover-color: inherit;
    --dxbl-btn-border-color: var(--bs-gray-100);
    &:hover {
      background: #fff8f2;
    }
    &.dxbl-active {
      background: #fff8f2;
      color: $primary;
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: $primary;
        mask-image: url('/images/icons/check.svg');
        mask-size: 20px 20px;
        mask-position: center;
        mask-repeat: no-repeat;
        margin-right: 0.25rem;
      }
    }
  }
  &:not(.dxbl-disabled):not(:disabled).dxbl-active {
    background: #fff8f2;
  }
}

.dxbl-btn-group {
  .dxbl-btn {
    font-size: 0.875rem;
    --dxbl-btn-padding-y: 0.535rem;
  }
}

.dxbl-btn-standalone.dxbl-disabled .dxbl-btn-caption,
.dxbl-btn-standalone:disabled .dxbl-btn-caption {
  opacity: 1;
}

.form-label {
  font-size: 0.875rem;
  margin-bottom: 0.125rem;
}
.form-control {
  box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  &.dxbl-text-edit input {
    padding: 0;
    font-weight: 500;
  }
  &.is-invalid {
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: $error;
    }
  }
}

// Dx Form Control
.dxbl-text-edit {
  box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  --dxbl-text-edit-border-color: #e7e8e9;
  --dxbl-text-edit-border-radius: 0.5rem;
  --dxbl-text-edit-bg: var(--bs-white);
  --dxbl-text-edit-btn-bg: var(--bs-white);
  // border-color: $gray-100;
  border-radius: $btn-border-radius;
  & > &-input {
    font-weight: 500;
    line-height: 1.6;
    padding: $input-btn-padding-y $input-btn-padding-x;
  }
  &:has(:focus) {
    box-shadow: none;
    --dxbl-text-edit-focus-border-color: var(--bs-primary);
  }
  .dxbl-edit-btn-dropdown {
    width: 40px;
    aspect-ratio: 1;
    &:not(.dxbl-disabled)::before {
      background-color: #ffd6ac !important;
      opacity: 1 !important;
    }
    &.dxbl-disabled::before {
      background-color: $gray-100 !important;
      opacity: 1 !important;
    }
  }
  &.search-control {
    .dxbl-btn-icon {
      width: 1rem;
      padding: 0;
      margin-left: getRem(12px);
      margin-right: getRem(12px);
    }
  }
  &.invalid {
    --dxbl-text-edit-border-color: var(--bs-error);
    --dxbl-text-edit-focus-border-color: var(--bs-error);
    color: var(--bs-error);
  }
}

// Dx Dropdown
.dxbl-edit-dropdown {
  --dxbl-edit-dropdown-border-radius: 0.5rem;
  --dxbl-edit-dropdown-border-color: #e7e8e9;
  --dxbl-edit-dropdown-box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  --dxbl-edit-dropdown-bg: var(--bs-white);
}

.dxbl-list-box,
.dxbl-list-box-render-container {
  --dxbl-list-box-border-radius: 0.5rem;
  --dxbl-list-box-border-width: 0;
  --dxbl-list-box-bg: var(--bs-white);
  --dxbl-list-box-item-padding-x: 0.5rem;
  --dxbl-list-box-item-padding-y: 0.375rem;
}

.dxbl-dropdown,
.dxbl-itemlist-dropdown {
  --dxbl-dropdown-border-radius: 0.5rem;
  --dxbl-dropdown-border-color: #e7e8e9;
  --dxbl-dropdown-box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  --dxbl-dropdown-bg: var(--bs-white);
}

.dxbl-list-box-render-container.dxbl-list-box-checked
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li,
.dxbl-list-box.dxbl-list-box-checked
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li {
  --dxbl-list-box-item-padding-y: 0.375rem;
}

.dxbl-list-box-render-container:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  )
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not([dxbl-bottom-virtual-spacer-element]):hover:not(
    .dxbl-list-box-item-focused
  ):not(:focus)::before,
.dxbl-list-box:not(.dxbl-disabled):not(:disabled):not(.dxbl-readonly)
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not([dxbl-bottom-virtual-spacer-element]):hover:not(
    .dxbl-list-box-item-focused
  ):not(:focus)::before {
  background-color: #ffd6ac !important;
  opacity: 1 !important;
}

.dxbl-list-box-render-container.dxbl-list-box-multi-select
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li.dxbl-list-box-item-selected:not(.dxbl-list-box-item-disabled)::before,
.dxbl-list-box.dxbl-list-box-multi-select
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li.dxbl-list-box-item-selected:not(.dxbl-list-box-item-disabled)::before {
  background-color: #ffd6ac !important;
  opacity: 0 !important;
}

.dxbl-list-box-render-container:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover.dxbl-list-box-item-focused,
.dxbl-list-box-render-container:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover:focus,
.dxbl-list-box:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover.dxbl-list-box-item-focused,
.dxbl-list-box:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover:focus {
  background-color: #ffd6ac !important;
  opacity: 1 !important;
}

.dxbl-btn-dropdown-popup
  .dxbl-btn-dropdown-list-item
  .dxbl-btn-dropdown-item
  > .dxbl-btn:not(.dxbl-disabled):not(:disabled):hover::before {
  background-color: #ffd6ac !important;
  opacity: 1 !important;
}

// Dx CheckBox
.dxbl-checkbox {
  --dxbl-checkbox-check-element-size: 1rem;
  --dxbl-checkbox-radio-size: 1rem;
  --dxbl-checkbox-radio-check-size: 0.5rem;
  --dxbl-checkbox-indeterminate-element-width: 0.5rem;
  --dxbl-checkbox-font-size: 0.875rem;

  font-weight: 500;

  &.dxbl-sm {
    --dxbl-checkbox-font-size: 0.75rem;
    --dxbl-checkbox-line-height: 1.5;
    --dxbl-checkbox-spacing: 0.375rem;
  }
  &:not(.dxbl-checkbox-switch):not(.dxbl-checkbox-radio).dxbl-lg {
    --dxbl-checkbox-check-element-size: 1.25rem;
    --dxbl-checkbox-radio-size: 1.25rem;
    --dxbl-checkbox-font-size: 1rem;
    --dxbl-checkbox-spacing: 0.375rem;
  }
}

.dxbl-checkbox.dxbl-checkbox-radio.dxbl-lg {
  --dxbl-checkbox-radio-check-size: 0.75rem;
  --dxbl-checkbox-radio-size: 1.25rem;
}

.dxbl-checkbox.dxbl-checkbox-switch {
  --dxbl-checkbox-switch-width: 2.5rem;
  --dxbl-checkbox-switch-height: 1.25rem;
  --dxbl-checkbox-switch-element-size: 1rem;
  --dxbl-checkbox-switch-element-unchecked-bg: #9b9da1;
  --dxbl-checkbox-switch-element-disabled-bg: #9b9da1;
  --dxbl-checkbox-unchecked-focus-shadow-color: #1e1e20;
  --dxbl-checkbox-checked-focus-shadow-color: #1e1e20;
  &.dxbl-checkbox-unchecked {
    --dxbl-checkbox-switch-element-margin: 0.05rem;
    &.dxbl-sm {
      --dxbl-checkbox-switch-element-margin: 0.05rem;
    }
    &.dxbl-lg {
      --dxbl-checkbox-switch-element-margin: 0.05rem;
    }
  }
  &.dxbl-sm {
    --dxbl-checkbox-switch-width: 2rem;
    --dxbl-checkbox-switch-height: 1rem;
    --dxbl-checkbox-switch-element-size: 0.75rem;
  }
  &.dxbl-lg {
    --dxbl-checkbox-switch-width: 3.0625rem;
    --dxbl-checkbox-switch-height: 1.5rem;
    --dxbl-checkbox-switch-element-size: 1.25rem;
  }
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-checkbox-unchecked
  .dxbl-checkbox-check-element {
  background-color: transparent;
  border: 1px solid $gray-200;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-checkbox-unchecked
  .dxbl-checkbox-check-element {
  opacity: 1;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-readonly.dxbl-checkbox-unchecked
  .dxbl-checkbox-check-element {
  background-color: $gray-200;
  opacity: 1;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-readonly
  .dxbl-checkbox-check-element::before {
  background-color: $gray-400;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-readonly .dxbl-checkbox-check-element {
  background-color: $gray-200;
  &::before {
    background-color: $gray-400;
  }
}

.dxbl-checkbox.dxbl-checkbox-switch:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-checkbox-unchecked:not(.dxbl-disabled):not(:disabled):hover
  .dxbl-checkbox-check-element {
  &::before {
    background-color: $gray-900;
    opacity: 1;
  }
  background-color: transparent;
  opacity: 1;
}

// Dx Tabs
.dxbl-tabs
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul,
.dxbl-tabs > .dxbl-tabs-tablist > ul {
  gap: getRem(24px);
}

.dxbl-tabs > .dxbl-tabs-tablist {
  --dxbl-tabs-bg: transparent;
  --dxbl-tabs-tab-border-color: transparent;
  --dxbl-tabs-separator-border-color: var(--bs-gray-100);
  --dxbl-tabs-tab-padding-x: 0.5rem;
  --dxbl-tabs-tab-selected-color: var(--bs-primary);

  font-weight: 500;
  .dxbl-tabs-item {
    position: relative;
  }
}

.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active::after,
.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active::after {
  height: 3px;
  background-color: $primary;
}

:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(:disabled):not(
    .dxbl-disabled
  ):not(:disabled)::before,
:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-active):not(
    .dxbl-disabled
  ):not(:disabled):not(.dxbl-disabled):not(:disabled):hover::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: calc(
    0px -
      var(
        --dxbl-border-width-with-scaling,
        var(--dxbl-tabs-tab-border-width, 0px)
      )
  );
  top: auto;
  right: calc(
    0px -
      var(
        --dxbl-border-width-with-scaling,
        var(--dxbl-tabs-tab-border-width, 0px)
      )
  );
  bottom: calc(
    0px -
      var(
        --dxbl-border-width-with-scaling,
        var(--dxbl-tabs-tab-border-width, 0px)
      )
  );
  border-radius: inherit;
  height: 3px;
  background-color: $primary;
  opacity: 0;
}

:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-active):not(
    .dxbl-disabled
  ):not(:disabled):not(.dxbl-disabled):not(:disabled):hover::before,
:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-active):not(
    .dxbl-disabled
  ):not(:disabled):not(.dxbl-disabled):not(:disabled):hover::before {
  top: auto;
  height: 3px;
  background-color: $primary;
  opacity: 1;
}

.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active,
.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active {
  &::before {
    opacity: 1 !important;
  }
}

.dxbl-calendar {
  --dxbl-calendar-bg: var(--bs-white);
  --dxbl-calendar-border-color: #e7e8e9;
  --dxbl-calendar-border-radius: 0.5rem;
  --dxbl-calendar-box-shadow: 0px 2px 15px 0px rgba(54, 48, 41, 0.1);
  --dxbl-calendar-font-size: 0.75rem;
  .dxbl-calendar-header {
    &::before {
      display: none;
    }
    .dxbl-btn {
      svg.dxbl-image {
        width: getRem(12px);
        height: getRem(12px);
      }
    }
  }
  div.dxbl-calendar-footer {
    &::before {
      display: none;
    }
    .dxbl-btn {
      --dxbl-btn-line-height: 1.6;
      --dxbl-btn-bg: unset;
      --dxbl-btn-hover-bg: unset;
      --dxbl-btn-box-shadow: none;
      --dxbl-btn-border-color: unset;
      --dxbl-btn-hover-border-color: unset;
      --dxbl-btn-focus-box-shadow: none;
      --dxbl-btn-border-radius: 0.25rem;
      &:hover {
        background: $yellow-hover;
      }
    }
  }
  .dxbl-calendar-content {
    .dxbl-calendar-selected-item {
      color: $white;
      &::before {
        background-color: $primary;
        opacity: 1;
        border-radius: getRem(4px);
      }
      &:hover {
        color: $white !important;
        &::before {
          background-color: $primary-dark !important;
        }
      }
    }
    .dxbl-calendar-day {
      &.dxbl-calendar-today {
        border-color: transparent;
        position: relative;
        &::before {
          content: '';
          display: block;
          position: absolute;
          inset: 0;
          border: 1px solid $primary;
          border-radius: getRem(4px);
        }
      }
      &.dxbl-calendar-weekend {
        color: $primary !important;
        &.dxbl-calendar-selected-item {
          color: $white !important;
        }
      }
    }
  }
}

.dxbl-calendar .dxbl-calendar-content[view='0'] > table > tbody > tr > td,
.dxbl-calendar .dxbl-calendar-content[view='0'] > table > tbody > tr > th {
  height: getRem(28px);
  min-width: getRem(28px);
  padding: getRem(2px);
}

.dxbl-calendar:not(.dxbl-disabled):not(:disabled)
  .dxbl-calendar-content
  > table
  > tbody
  > tr:not(.dxbl-calendar-days-of-week)
  td:not(.dxbl-calendar-disabled-item):not(.dxbl-calendar-week-number):not(
    .dxbl-calendar-selected-range
  ):not(.dxbl-disabled):not(:disabled):hover::before {
  background-color: $yellow-hover;
  opacity: 1;
  border-radius: getRem(4px);
}

.dxbl-dropdown > .dxbl-dropdown-dialog.dxbl-edit-dropdown,
.dxbl-modal
  > .dxbl-modal-root
  > .dxbl-popup.dxbl-edit-dropdown
  > .dxbl-modal-content {
  box-shadow: 0px 2px 15px 0px rgba(54, 48, 41, 0.1);
}

.dxbl-calendar-content:has(.dxbl-calendar-selected-range) {
  .dxbl-calendar-selected-item {
    background-color: $yellow-hover;
    color: inherit !important;
    &::before {
      background-color: transparent !important;
    }
  }
  .dxbl-calendar-selected-range {
    color: $white !important;
    &.dxbl-calendar-weekend {
      color: $white !important;
    }
    &::before {
      background-color: $primary !important;
      border-radius: getRem(4px) !important;
    }
  }
}

.dxbl-dropdown
  > .dxbl-dropdown-dialog.dxbl-edit-dropdown
  .dxbl-edit-dropdown-header::before,
.dxbl-modal
  > .dxbl-modal-root
  > .dxbl-popup.dxbl-edit-dropdown
  > .dxbl-modal-content
  .dxbl-edit-dropdown-header::before {
  display: none;
}

// Table

.dxbl-grid {
  --dxbl-grid-bg: var(--bs-white);
  --dxbl-grid-line-height: 1.6;
  --dxbl-grid-border-color: var(--bs-gray-100);
  --dxbl-grid-fixed-column-border-color: var(--bs-gray-100);
  --dxbl-grid-border-radius: 0.5rem;
  --dxbl-grid-text-cell-padding-x: 0.75rem;
  --dxbl-grid-text-cell-padding-y: 0.75rem;
  box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  overflow: hidden;
  & > .dxbl-scroll-viewer {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .dxbl-grid-header-row {
    overflow: hidden;
    .dxbl-grid-sort-asc {
      width: 18px;
      height: 18px;
      background: url('/images/icons/sort-asc.svg') no-repeat center / cover;
      .dxbl-image {
        display: none;
      }
    }
    .dxbl-grid-sort-desc {
      width: 18px;
      height: 18px;
      background: url('/images/icons/sort-desc.svg') no-repeat center / cover;
      .dxbl-image {
        display: none;
      }
    }
  }
}

.dxbl-grid
  .dxbl-grid-table
  > thead
  .dxbl-grid-header-row
  > th:not(.dxbl-grid-empty-cell)::before {
  background-color: $white;
  opacity: 1;
  border-radius: 8px 8px 0 0;
}

.dxbl-grid .dxbl-grid-table > thead > tr > td,
.dxbl-grid .dxbl-grid-table > thead > tr > th {
  font-size: getRem(11px);
}

.dxbl-grid
  .dxbl-grid-table
  .dxbl-grid-selected-row:not(.dxbl-grid-focused-row):not(
    .dxbl-grid-touch-selection
  ):not(.dxbl-grid-touch-selection-edge)
  > td:not(.dxbl-grid-empty-cell):not(.dxbl-grid-indent-cell)::before {
  background-color: #fff9ee !important;
  opacity: 1 !important;
  border-radius: 0;
}

.dxbl-grid .dxbl-grid-table > tbody > tr > td > .dxbl-checkbox,
.dxbl-grid .dxbl-grid-table > tfoot > tr > td > .dxbl-checkbox,
.dxbl-grid .dxbl-grid-table > thead > tr > td > .dxbl-checkbox {
  vertical-align: middle;
}

.badge {
  line-height: 1.6;
}

// File Upload Dropzone
.drop-zone {
  padding: getRem(40px) getRem(16px);
  border: 1px dashed $gray-200;
  border-radius: 0.5rem;
  background-color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: getRem(14px);
  line-height: 1.6;
  &__icon {
    width: 48px;
    height: 48px;
    img,
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__label {
    color: $gray-900;
  }
  &__or {
    color: $gray-400;
    width: 100%;
    max-width: 220px;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #cdced0;
      position: absolute;
      top: 0.6rem;
      left: 0;
      right: 0;
      z-index: 0;
    }
    & > span {
      display: inline-block;
      background-color: $white;
      position: relative;
      z-index: 1;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  &__limit {
    font-size: getRem(12px);
    color: $gray-400;
  }
  &.custom-drop-zone-hover {
    border-color: $primary;
    background-color: #fff8f2;
    & > .drop-zone__or {
      & > span {
        background-color: #fff8f2;
      }
    }
  }
}

.dxbl-upload {
  .dxbl-upload-container {
    .dxbl-upload-panel {
      .dxbl-upload-button-panel {
        .dxbl-btn {
          font-size: getRem(12px);
          padding: getRem(2px) getRem(6px);
          color: $danger;
          background-color: #feeeee;
          border-color: #ffe0e0;
          .dxbl-image {
            --dxbl-image-width: 0.875rem;
            --dxbl-image-height: 0.875rem;
          }
        }
      }
    }
    .dxbl-upload-file-list-view {
      .dxbl-upload-file-view {
        .dxbl-btn {
          color: $gray-600;
          align-self: center;
          .dxbl-image {
            --dxbl-image-width: 0.875rem;
            --dxbl-image-height: 0.875rem;
          }
        }
        .dxbl-upload-file-view-details {
          text-align: left;
          .dxbl-upload-file-view-info {
            font-size: getRem(12px);
            color: $gray-900;
          }
        }
      }
    }
    .dxbl-upload-file-view-icon-container {
      .dxbl-btn {
        &:hover {
          color: $danger;
          background: #feeeee;
          border-color: #ffe0e0;
        }
      }
    }
  }
}
