.btn {
  &:not(.btn-link),
  &:not(.btn-link) {
    box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  }
  &:disabled {
    color: $gray-400;
    box-shadow: none !important;
  }
  &-primary {
    color: $white;
    &:hover {
      color: $white;
      background-color: $primary-dark;
      border-color: $primary-dark;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-light {
    background-color: $white;
    &:hover {
      color: $yellow;
      background-color: $white;
      border-color: $white;
    }
    &:disabled {
      background-color: $white;
      border-color: $gray-100;
    }
  }
  &-dark {
    &:hover {
      color: $white;
      background-color: $yellow;
      border-color: $white;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-danger {
    &:hover {
      color: $danger;
      background-color: #feeeee;
      border-color: #ffe0e0;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-warning {
    color: $danger;
    background-color: $red-light;
    border-color: #ffe0e0;
    &:hover {
      color: $white;
      background-color: $danger;
      border-color: $danger;
    }
    &:disabled {
      background-color: $gray-100;
      border-color: $gray-100;
    }
  }
  &-icon {
    min-width: 40px;
    min-height: 40px;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      left: 10px; /* Розташування іконки */
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(attr(data-icon));
    }
  }
  &-sm {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1;
    & > img,
    & > svg {
      width: 18px;
      height: 18px;
    }
    &.btn-icon {
      min-width: 32px;
      min-height: 32px;
      padding: 0.5rem;
    }
  }
}

.dxbl-btn.dxbl-btn-standalone {
  --dxbl-btn-padding-x: 0.75rem;
  --dxbl-btn-padding-y: 0.4375rem;
  --dxbl-btn-border-radius: 0.5rem;
  --dxbl-btn-font-size: 1rem;
  --dxbl-btn-line-height: 1.5;
  font-weight: 500;
  &.dxbl-btn-primary,
  &.dxbl-btn-secondary,
  &.dxbl-btn-success,
  &.dxbl-btn-info,
  &.dxbl-btn-danger,
  &.dxbl-btn-warning,
  &.dxbl-btn-light,
  &.dxbl-btn-dark {
    --dxbl-btn-box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  }
  &.dxbl-btn-secondary {
    color: $white;
  }
  &.dxbl-sm {
    --dxbl-btn-padding-x: 0.75rem;
    --dxbl-btn-padding-y: 0.3125rem;
    --dxbl-btn-font-size: 0.875rem;
    --dxbl-btn-line-height: 1.5;
  }
  &.dxbl-btn-danger {
    &:hover {
      color: $danger;
      background: $red-light;
      border-color: #ffe0e0;
    }
  }
  &.dxbl-btn-warning {
    color: $danger;
    background-color: $red-light;
    border-color: #ffe0e0;
    &:hover {
      color: $white;
      background-color: $danger;
      border-color: $danger;
    }
  }
  &.dxbl-btn-light {
    background-color: $white;
    &:hover {
      color: $yellow;
      background: $white;
      border-color: $white;
    }
  }
  &.dxbl-btn-dark {
    &:hover {
      color: $white;
      background: $yellow;
      border-color: $white;
    }
  }
  &.dxbl-btn-link {
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }
  &.dxbl-btn-link,
  &.dxbl-btn-none {
    box-shadow: unset;
  }
  &.dxbl-disabled {
    color: $gray-400 !important;
    &.dxbl-btn-primary,
    &.dxbl-btn-secondary,
    &.dxbl-btn-success,
    &.dxbl-btn-info,
    &.dxbl-btn-danger,
    &.dxbl-btn-warning,
    &.dxbl-btn-light,
    &.dxbl-btn-dark {
      background: $gray-100 !important;
      border-color: $gray-100 !important;
    }
    &.dxbl-btn-info,
    &.dxbl-btn-warning,
    &.dxbl-btn-light {
      background: $white !important;
    }
  }
  &.dxbl-btn-outline-light {
    --dxbl-btn-bg: var(--bs-white);
    --dxbl-btn-color: var(--bs-gray-800);
    --dxbl-btn-hover-color: inherit;
    --dxbl-btn-border-color: var(--bs-gray-100);
    &:hover {
      background: #fff8f2;
    }
    &.dxbl-active {
      background: #fff8f2;
      color: $primary;
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: $primary;
        mask-image: url('/images/icons/check.svg');
        mask-size: 20px 20px;
        mask-position: center;
        mask-repeat: no-repeat;
        margin-right: 0.25rem;
      }
    }
  }
  &:not(.dxbl-disabled):not(:disabled).dxbl-active {
    background: #fff8f2;
  }
}

.dxbl-btn-group {
  .dxbl-btn {
    font-size: 0.875rem;
    --dxbl-btn-padding-y: 0.535rem;
  }
}

.dxbl-btn-standalone.dxbl-disabled .dxbl-btn-caption,
.dxbl-btn-standalone:disabled .dxbl-btn-caption {
  opacity: 1;
}

.form-label {
  font-size: 0.875rem;
  margin-bottom: 0.125rem;
}
.form-control {
  box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  &.dxbl-text-edit input {
    padding: 0;
    font-weight: 500;
  }
  &.is-invalid {
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: $error;
    }
  }
}

.dxbl-text-edit {
  box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  --dxbl-text-edit-border-color: #e7e8e9;
  --dxbl-text-edit-border-radius: 0.5rem;
  --dxbl-text-edit-bg: var(--bs-white);
  --dxbl-text-edit-btn-bg: var(--bs-white);
  // border-color: $gray-100;
  border-radius: $btn-border-radius;
  & > &-input {
    font-weight: 500;
    line-height: 1.6;
    padding: $input-btn-padding-y $input-btn-padding-x;
  }
  &:has(:focus) {
    box-shadow: none;
    --dxbl-text-edit-focus-border-color: var(--bs-primary);
  }
  .dxbl-edit-btn-dropdown {
    width: 40px;
    aspect-ratio: 1;
    &::before {
      background-color: #ffd6ac !important;
      opacity: 1 !important;
    }
  }
  &.search-control {
    .dxbl-btn-icon {
      width: 1rem;
      padding: 0;
      margin-left: getRem(12px);
      margin-right: getRem(12px);
    }
  }
  &.invalid {
    --dxbl-text-edit-border-color: var(--bs-error);
    --dxbl-text-edit-focus-border-color: var(--bs-error);
    color: var(--bs-error);
  }
}

.dxbl-edit-dropdown {
  --dxbl-edit-dropdown-border-radius: 0.5rem;
  --dxbl-edit-dropdown-border-color: #e7e8e9;
  --dxbl-edit-dropdown-box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  --dxbl-edit-dropdown-bg: var(--bs-white);
}

.dxbl-list-box,
.dxbl-list-box-render-container {
  --dxbl-list-box-border-radius: 0.5rem;
  --dxbl-list-box-border-width: 0;
  --dxbl-list-box-bg: var(--bs-white);
  --dxbl-list-box-item-padding-x: 0.5rem;
  --dxbl-list-box-item-padding-y: 0.375rem;
}

.dxbl-dropdown,
.dxbl-itemlist-dropdown {
  --dxbl-dropdown-border-radius: 0.5rem;
  --dxbl-dropdown-border-color: #e7e8e9;
  --dxbl-dropdown-box-shadow: 0px 1px 3px 0px rgba(54, 45, 36, 0.06);
  --dxbl-dropdown-bg: var(--bs-white);
}

.dxbl-list-box-render-container.dxbl-list-box-checked
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li,
.dxbl-list-box.dxbl-list-box-checked
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li {
  --dxbl-list-box-item-padding-y: 0.375rem;
}

.dxbl-list-box-render-container:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  )
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not([dxbl-bottom-virtual-spacer-element]):hover:not(
    .dxbl-list-box-item-focused
  ):not(:focus)::before,
.dxbl-list-box:not(.dxbl-disabled):not(:disabled):not(.dxbl-readonly)
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not([dxbl-bottom-virtual-spacer-element]):hover:not(
    .dxbl-list-box-item-focused
  ):not(:focus)::before {
  background-color: #ffd6ac !important;
  opacity: 1 !important;
}

.dxbl-list-box-render-container.dxbl-list-box-multi-select
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li.dxbl-list-box-item-selected:not(.dxbl-list-box-item-disabled)::before,
.dxbl-list-box.dxbl-list-box-multi-select
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li.dxbl-list-box-item-selected:not(.dxbl-list-box-item-disabled)::before {
  background-color: #ffd6ac !important;
  opacity: 0 !important;
}

.dxbl-list-box-render-container:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover.dxbl-list-box-item-focused,
.dxbl-list-box-render-container:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover:focus,
.dxbl-list-box:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover.dxbl-list-box-item-focused,
.dxbl-list-box:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-list-box-multi-select[data-dx-focus-hidden]
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > :not(.dxbl-list-box-empty-data-container)
  > li:not(.dxbl-list-box-item-disabled):not(.dxbl-list-box-group-item):not(
    [dxbl-top-virtual-spacer-element]
  ):not(
    [dxbl-bottom-virtual-spacer-element]
  ).dxbl-list-box-item-selected:hover:focus {
  background-color: #ffd6ac !important;
  opacity: 1 !important;
}

.dxbl-btn-dropdown-popup
  .dxbl-btn-dropdown-list-item
  .dxbl-btn-dropdown-item
  > .dxbl-btn:not(.dxbl-disabled):not(:disabled):hover::before {
  background-color: #ffd6ac !important;
  opacity: 1 !important;
}

.dxbl-checkbox {
  --dxbl-checkbox-check-element-size: 1rem;
  --dxbl-checkbox-radio-size: 1rem;
  --dxbl-checkbox-radio-check-size: 0.5rem;
  --dxbl-checkbox-indeterminate-element-width: 0.5rem;
  --dxbl-checkbox-font-size: 0.875rem;

  font-weight: 500;

  &.dxbl-sm {
    --dxbl-checkbox-font-size: 0.75rem;
    --dxbl-checkbox-line-height: 1.5;
    --dxbl-checkbox-spacing: 0.375rem;
  }
  &:not(.dxbl-checkbox-switch):not(.dxbl-checkbox-radio).dxbl-lg {
    --dxbl-checkbox-check-element-size: 1.25rem;
    --dxbl-checkbox-radio-size: 1.25rem;
    --dxbl-checkbox-font-size: 1rem;
    --dxbl-checkbox-spacing: 0.375rem;
  }
}

.dxbl-checkbox.dxbl-checkbox-radio.dxbl-lg {
  --dxbl-checkbox-radio-check-size: 0.75rem;
  --dxbl-checkbox-radio-size: 1.25rem;
}

.dxbl-checkbox.dxbl-checkbox-switch {
  --dxbl-checkbox-switch-width: 2.5rem;
  --dxbl-checkbox-switch-height: 1.25rem;
  --dxbl-checkbox-switch-element-size: 1rem;
  --dxbl-checkbox-switch-element-unchecked-bg: #9b9da1;
  --dxbl-checkbox-switch-element-disabled-bg: #9b9da1;
  --dxbl-checkbox-unchecked-focus-shadow-color: #1e1e20;
  --dxbl-checkbox-checked-focus-shadow-color: #1e1e20;
  &.dxbl-checkbox-unchecked {
    --dxbl-checkbox-switch-element-margin: 0.05rem;
    &.dxbl-sm {
      --dxbl-checkbox-switch-element-margin: 0.05rem;
    }
    &.dxbl-lg {
      --dxbl-checkbox-switch-element-margin: 0.05rem;
    }
  }
  &.dxbl-sm {
    --dxbl-checkbox-switch-width: 2rem;
    --dxbl-checkbox-switch-height: 1rem;
    --dxbl-checkbox-switch-element-size: 0.75rem;
  }
  &.dxbl-lg {
    --dxbl-checkbox-switch-width: 3.0625rem;
    --dxbl-checkbox-switch-height: 1.5rem;
    --dxbl-checkbox-switch-element-size: 1.25rem;
  }
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-checkbox-unchecked
  .dxbl-checkbox-check-element {
  background-color: transparent;
  border: 1px solid $gray-200;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-checkbox-unchecked
  .dxbl-checkbox-check-element {
  opacity: 1;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-readonly.dxbl-checkbox-unchecked
  .dxbl-checkbox-check-element {
  background-color: $gray-200;
  opacity: 1;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-readonly
  .dxbl-checkbox-check-element::before {
  background-color: $gray-400;
}

.dxbl-checkbox.dxbl-checkbox-switch.dxbl-readonly .dxbl-checkbox-check-element {
  background-color: $gray-200;
  &::before {
    background-color: $gray-400;
  }
}

.dxbl-checkbox.dxbl-checkbox-switch:not(.dxbl-disabled):not(:disabled):not(
    .dxbl-readonly
  ).dxbl-checkbox-unchecked:not(.dxbl-disabled):not(:disabled):hover
  .dxbl-checkbox-check-element {
  &::before {
    background-color: $gray-900;
    opacity: 1;
  }
  background-color: transparent;
  opacity: 1;
}

.dxbl-tabs
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul,
.dxbl-tabs > .dxbl-tabs-tablist > ul {
  gap: getRem(24px);
}

.dxbl-tabs > .dxbl-tabs-tablist {
  --dxbl-tabs-bg: transparent;
  --dxbl-tabs-tab-border-color: transparent;
  --dxbl-tabs-separator-border-color: var(--bs-gray-100);
  --dxbl-tabs-tab-padding-x: 0.5rem;
  --dxbl-tabs-tab-selected-color: var(--bs-primary);

  font-weight: 500;
  .dxbl-tabs-item {
    position: relative;
  }
}

.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active::after,
.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active::after {
  height: 3px;
  background-color: $primary;
}

:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(:disabled):not(
    .dxbl-disabled
  ):not(:disabled)::before,
:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-active):not(
    .dxbl-disabled
  ):not(:disabled):not(.dxbl-disabled):not(:disabled):hover::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: calc(
    0px -
      var(
        --dxbl-border-width-with-scaling,
        var(--dxbl-tabs-tab-border-width, 0px)
      )
  );
  top: auto;
  right: calc(
    0px -
      var(
        --dxbl-border-width-with-scaling,
        var(--dxbl-tabs-tab-border-width, 0px)
      )
  );
  bottom: calc(
    0px -
      var(
        --dxbl-border-width-with-scaling,
        var(--dxbl-tabs-tab-border-width, 0px)
      )
  );
  border-radius: inherit;
  height: 3px;
  background-color: $primary;
  opacity: 0;
}

:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-active):not(
    .dxbl-disabled
  ):not(:disabled):not(.dxbl-disabled):not(:disabled):hover::before,
:not(.dxbl-tabs-state-dragging).dxbl-tabs
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-active):not(
    .dxbl-disabled
  ):not(:disabled):not(.dxbl-disabled):not(:disabled):hover::before {
  top: auto;
  height: 3px;
  background-color: $primary;
  opacity: 1;
}

.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > .dxbl-scroll-viewer
  > .dxbl-scroll-viewer-content
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active,
.dxbl-tabs.dxbl-tabs-top
  > .dxbl-tabs-tablist
  > ul
  > li
  > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(
    :disabled
  ).dxbl-active {
  &::before {
    opacity: 1 !important;
  }
}
