// @import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

@import './color';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

// Create your own map
$custom-colors: (
  'yellow-hover': $yellow-hover,
  'error': $error,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import './variables';
@import './functions';
@import './typography';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './components';

html,
body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.valid.modified:not([type='checkbox']) {
  outline: 1px solid #26b050;
}
