<!-- Alerts section -->
<section class="w-50 mx-auto">
    <h3>Alerts</h3>

    <!-- Alert with light theme -->
    <div class="alert alert-light" role="alert">
        Lorem ipsum dolor sit amet consectetur. Ac vulputate laoreet eget semper nibh consequat consequat vulputate. Sem
        pretium pharetra velit cras ac nisi. Lorem integer vitae sapien quis amet phasellus habitasse felis sed. Ipsum
        accumsan feugiat nunc orci.
    </div>

    <!-- Alert with success theme -->
    <div class="alert alert-success" role="alert">
        Lorem ipsum dolor sit amet consectetur. Ac vulputate laoreet eget semper nibh consequat consequat vulputate. Sem
        pretium pharetra velit cras ac nisi. Lorem integer vitae sapien quis amet phasellus habitasse felis sed. Ipsum
        accumsan feugiat nunc orci.
    </div>

    <!-- Alert with warning theme -->
    <div class="alert alert-warning" role="alert">
        Lorem ipsum dolor sit amet consectetur. Ac vulputate laoreet eget semper nibh consequat consequat vulputate. Sem
        pretium pharetra velit cras ac nisi. Lorem integer vitae sapien quis amet phasellus habitasse felis sed. Ipsum
        accumsan feugiat nunc orci.
    </div>

    <!-- Alert with danger theme -->
    <div class="alert alert-danger" role="alert">
        Lorem ipsum dolor sit amet consectetur. Ac vulputate laoreet eget semper nibh consequat consequat vulputate. Sem
        pretium pharetra velit cras ac nisi. Lorem integer vitae sapien quis amet phasellus habitasse felis sed. Ipsum
        accumsan feugiat nunc orci.
    </div>

    <!-- Alert with info theme -->
    <div class="alert alert-info" role="alert">
        Lorem ipsum dolor sit amet consectetur. Ac vulputate laoreet eget semper nibh consequat consequat vulputate. Sem
        pretium pharetra velit cras ac nisi. Lorem integer vitae sapien quis amet phasellus habitasse felis sed. Ipsum
        accumsan feugiat nunc orci.
    </div>

</section>