<!-- Alerts section -->
<section class="w-50 mx-auto">
    <h3>Badges</h3>

    <div class="d-flex flex-wrap gap-1 bg-white border border-light p-2 rounded-2">
        <span class="badge text-black border border-light">Tag light</span>
        <span class="badge  text-primary border border-primary bg-primary bg-opacity-10 border-opacity-25">Tag
            Primary</span>
        <span class="badge  text-error border border-error bg-error bg-opacity-10 border-opacity-25">Tag
            Primary</span>
        <span class="badge  text-success border border-success bg-success bg-opacity-10 border-opacity-25">Tag
            Success</span>
    </div>

</section>