<section>
    <h3>DxButtons</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Primary" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Secondary" />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Success" />
        <DxButton RenderStyle="ButtonRenderStyle.Warning" Text="Warning" />
        <DxButton RenderStyle="ButtonRenderStyle.Danger" Text="Danger" />
        <DxButton RenderStyle="ButtonRenderStyle.Info" Text="Info" />
        <DxButton RenderStyle="ButtonRenderStyle.Light" Text="Light" />
        <DxButton RenderStyle="ButtonRenderStyle.Dark" Text="Dark" />
        <DxButton RenderStyle="ButtonRenderStyle.Link" Text="Link" />
        <DxButton RenderStyle="ButtonRenderStyle.None" Text="None" />
    </div>
</section>

<section>
    <h3>DxButtons Small</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <DxButton RenderStyle="ButtonRenderStyle.Primary" SizeMode="SizeMode.Small" Text="Primary" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" SizeMode="SizeMode.Small" Text="Secondary" />
        <DxButton RenderStyle="ButtonRenderStyle.Success" SizeMode="SizeMode.Small" Text="Success" />
        <DxButton RenderStyle="ButtonRenderStyle.Warning" SizeMode="SizeMode.Small" Text="Warning" />
        <DxButton RenderStyle="ButtonRenderStyle.Danger" SizeMode="SizeMode.Small" Text="Danger" />
        <DxButton RenderStyle="ButtonRenderStyle.Info" SizeMode="SizeMode.Small" Text="Info" />
        <DxButton RenderStyle="ButtonRenderStyle.Light" SizeMode="SizeMode.Small" Text="Light" />
        <DxButton RenderStyle="ButtonRenderStyle.Dark" SizeMode="SizeMode.Small" Text="Dark" />
        <DxButton RenderStyle="ButtonRenderStyle.Link" SizeMode="SizeMode.Small" Text="Link" />
        <DxButton RenderStyle="ButtonRenderStyle.None" SizeMode="SizeMode.Small" Text="None" />
    </div>
</section>

<section class="w-50 mx-auto">
    <h3>Icon Buttons</h3>
    <div class="alert alert-warning" role="alert">
        Use <b>IconCssClass="icon icon-name"</b> for icon buttons.
    </div>


    <!-- Use IconCssClass="icon icon-name" for icon buttons. -->
    <DxButton RenderStyle="ButtonRenderStyle.Light" SizeMode="SizeMode.Small" IconCssClass="icon icon-bell" />
</section>

<section>
    <h3>Toggle Buttons</h3>
    <DxButtonGroup SelectionMode="ButtonGroupSelectionMode.Single" RenderStyleMode="ButtonRenderStyleMode.Outline"
        RenderStyle="ButtonRenderStyle.Light">
        <Items>
            <DxButtonGroupItem Text="Hour" Selected />
            <DxButtonGroupItem Text="Day" />
            <DxButtonGroupItem Text="Week" />
            <DxButtonGroupItem Text="Month" />
        </Items>
    </DxButtonGroup>
</section>

@* DropDown Button *@
<section>
    <h3>Blazor DropDown Button</h3>
    <DxDropDownButton Text="Sort by" RenderStyle="ButtonRenderStyle.Light">
        <Items>
            <DxDropDownButtonItem Text="Name (A-Z)" />
            <DxDropDownButtonItem Text="Name (Z-A)" />
            <DxDropDownButtonItem Text="Address (A-Z)" />
            <DxDropDownButtonItem Text="Address (Z-A)" />
        </Items>
    </DxDropDownButton>
</section>