@* <section>
    <h3>Buttons</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <button type="button" class="btn btn-dark">Bootstrap Dark</button>
        <button type="button" class="btn btn-primary">Bootstrap Primary</button>
        <DxButton CssClass="btn btn-primary">Blazor Primary</DxButton>
        <button type="button" disabled class="btn btn-primary">Bootstrap Disabled</button>
        <button type="button" class="btn btn-light">Bootstrap Light</button>
        <button type="button" class="btn btn-warning">Bootstrap Warning</button>
        <button type="button" class="btn btn-danger">Bootstrap Danger</button>
        <button type="button" class="btn btn-link">Bootstrap Link</button>
        <button type="button" class="btn btn-light btn-icon">
            <img src="/images/icons/Plus.svg" alt="">
        </button>
        <button type="button" class="btn btn-dark">
            <img src="/images/icons/Plus-white.svg" alt="">
            Icon L
        </button>
        <button type="button" class="btn btn-primary">
            Icon R
            <img src="/images/icons/Plus-white.svg" alt="">
        </button>
    </div>
</section> *@

@* Buttons size small *@
@* <section>
    <h3>Buttons size small</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <button type="button" class="btn btn-dark btn-sm">Bootstrap Dark</button>
        <button type="button" class="btn btn-primary btn-sm">Bootstrap Primary</button>
        <DxButton CssClass="btn btn-primary btn-sm">Blazor Primary</DxButton>
        <button type="button" disabled class="btn btn-primary btn-sm">Bootstrap
            Disabled</button>
        <button type="button" class="btn btn-light btn-sm">Bootstrap Light</button>
        <button type="button" class="btn btn-warning btn-sm">Bootstrap Warning</button>
        <button type="button" class="btn btn-danger btn-sm">Bootstrap Danger</button>
        <button type="button" class="btn btn-link btn-sm">Bootstrap Link</button>
        <button type="button" class="btn btn-light btn-sm btn-icon">
            <img src="/images/icons/Plus.svg" alt="">
        </button>
        <button type="button" class="btn btn-dark btn-sm">
            <img src="/images/icons/Plus-white.svg" alt="">
            Icon L
        </button>
        <button type="button" class="btn btn-primary btn-sm">
            Icon R
            <img src="/images/icons/Plus-white.svg" alt="">
        </button>
    </div>
</section> *@

<section>
    <h3>DxButtons</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="Primary" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Secondary" />
        <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Success" />
        <DxButton RenderStyle="ButtonRenderStyle.Warning" Text="Warning" />
        <DxButton RenderStyle="ButtonRenderStyle.Danger" Text="Danger" />
        <DxButton RenderStyle="ButtonRenderStyle.Info" Text="Info" />
        <DxButton RenderStyle="ButtonRenderStyle.Light" Text="Light" />
        <DxButton RenderStyle="ButtonRenderStyle.Dark" Text="Dark" />
        <DxButton RenderStyle="ButtonRenderStyle.Link" Text="Link" />
        <DxButton RenderStyle="ButtonRenderStyle.None" Text="None" />
    </div>
</section>

<section>
    <h3>DxButtons Small</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <DxButton RenderStyle="ButtonRenderStyle.Primary" SizeMode="SizeMode.Small" Text="Primary" />
        <DxButton RenderStyle="ButtonRenderStyle.Secondary" SizeMode="SizeMode.Small" Text="Secondary" />
        <DxButton RenderStyle="ButtonRenderStyle.Success" SizeMode="SizeMode.Small" Text="Success" />
        <DxButton RenderStyle="ButtonRenderStyle.Warning" SizeMode="SizeMode.Small" Text="Warning" />
        <DxButton RenderStyle="ButtonRenderStyle.Danger" SizeMode="SizeMode.Small" Text="Danger" />
        <DxButton RenderStyle="ButtonRenderStyle.Info" SizeMode="SizeMode.Small" Text="Info" />
        <DxButton RenderStyle="ButtonRenderStyle.Light" SizeMode="SizeMode.Small" Text="Light" />
        <DxButton RenderStyle="ButtonRenderStyle.Dark" SizeMode="SizeMode.Small" Text="Dark" />
        <DxButton RenderStyle="ButtonRenderStyle.Link" SizeMode="SizeMode.Small" Text="Link" />
        <DxButton RenderStyle="ButtonRenderStyle.None" SizeMode="SizeMode.Small" Text="None" />
    </div>
</section>

<section class="w-50 mx-auto">
    <h3>Icon Buttons</h3>
    <div class="alert alert-warning" role="alert">
        Blazor does not have a built-in IconButton component, so add the <b>"btn-icon"</b> class to style it
        as a button with an icon or use <b>"IconCssClass"</b>.
    </div>

    <!--
        Blazor does not have a built-in IconButton component, so add the "btn-icon" class to style it
        as a button with an icon or use "IconCssClass".
    -->
    <DxButton RenderStyle="ButtonRenderStyle.Light" SizeMode="SizeMode.Small" CssClass="btn-icon">
        <!-- The icon is an SVG image -->
        <img src="/images/icons/bell.svg" alt="Bell">
    </DxButton>
</section>

<section>
    <h3>Toggle Buttons</h3>
    <DxButtonGroup SelectionMode="ButtonGroupSelectionMode.Single" RenderStyleMode="ButtonRenderStyleMode.Outline"
        RenderStyle="ButtonRenderStyle.Light">
        <Items>
            <DxButtonGroupItem Text="Hour" Selected />
            <DxButtonGroupItem Text="Day" />
            <DxButtonGroupItem Text="Week" />
            <DxButtonGroupItem Text="Month" />
        </Items>
    </DxButtonGroup>
</section>

@* DropDown Button *@
<section>
    <h3>Blazor DropDown Button</h3>
    <DxDropDownButton Text="Sort by" RenderStyle="ButtonRenderStyle.Light">
        <Items>
            <DxDropDownButtonItem Text="Name (A-Z)" />
            <DxDropDownButtonItem Text="Name (Z-A)" />
            <DxDropDownButtonItem Text="Address (A-Z)" />
            <DxDropDownButtonItem Text="Address (Z-A)" />
        </Items>
    </DxDropDownButton>
</section>