<section>
    <h3>Buttons</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <button type="button" class="btn btn-dark">Bootstrap Dark</button>
        <button type="button" class="btn btn-primary">Bootstrap Primary</button>
        <DxButton CssClass="btn btn-primary">Blazor Primary</DxButton>
        <button type="button" disabled class="btn btn-primary">Bootstrap Disabled</button>
        <button type="button" class="btn btn-light">Bootstrap Light</button>
        <button type="button" class="btn btn-warning">Bootstrap Warning</button>
        <button type="button" class="btn btn-danger">Bootstrap Danger</button>
        <button type="button" class="btn btn-link">Bootstrap Link</button>
        <button type="button" class="btn btn-light btn-icon">
            <img src="/images/icons/Plus.svg" alt="">
        </button>
        <button type="button" class="btn btn-dark">
            <img src="/images/icons/Plus-white.svg" alt="">
            Icon L
        </button>
        <button type="button" class="btn btn-primary">
            Icon R
            <img src="/images/icons/Plus-white.svg" alt="">
        </button>
    </div>
</section>

@* Buttons size small *@
<section>
    <h3>Buttons size small</h3>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
        <button type="button" class="btn btn-dark btn-sm">Bootstrap Dark</button>
        <button type="button" class="btn btn-primary btn-sm">Bootstrap Primary</button>
        <DxButton CssClass="btn btn-primary btn-sm">Blazor Primary</DxButton>
        <button type="button" disabled class="btn btn-primary btn-sm">Bootstrap
            Disabled</button>
        <button type="button" class="btn btn-light btn-sm">Bootstrap Light</button>
        <button type="button" class="btn btn-warning btn-sm">Bootstrap Warning</button>
        <button type="button" class="btn btn-danger btn-sm">Bootstrap Danger</button>
        <button type="button" class="btn btn-link btn-sm">Bootstrap Link</button>
        <button type="button" class="btn btn-light btn-sm btn-icon">
            <img src="/images/icons/Plus.svg" alt="">
        </button>
        <button type="button" class="btn btn-dark btn-sm">
            <img src="/images/icons/Plus-white.svg" alt="">
            Icon L
        </button>
        <button type="button" class="btn btn-primary btn-sm">
            Icon R
            <img src="/images/icons/Plus-white.svg" alt="">
        </button>
    </div>
</section>

@* DropDown Button *@
<section>
    <h3>Blazor DropDown Button</h3>
    <DxDropDownButton Text="Sort by" CssClass="btn btn-light">
        <Items>
            <DxDropDownButtonItem Text="Name (A-Z)" />
            <DxDropDownButtonItem Text="Name (Z-A)" />
            <DxDropDownButtonItem Text="Address (A-Z)" />
            <DxDropDownButtonItem Text="Address (Z-A)" />
        </Items>
    </DxDropDownButton>
</section>