@inject NavigationManager NavigationManager

<section class="w-50 mx-auto">
    <h3>File Upload</h3>


    <div id="overviewDemoDropZone" class="drop-zone">
        <div class="drop-zone__icon">
            <img src="/images/icons/Upload.svg" alt="Upload">
        </div>
        <div class="drop-zone__label">Drag and Drop File Here</div>
        <div class="drop-zone__or"><span>or</span></div>
        <DxButton Id="overviewDemoSelectButton" RenderStyle="ButtonRenderStyle.Dark" Text="Select File" />
        <div class="drop-zone__limit">Maximum file size is 100 MB.</div>
    </div>
    <DxUpload Name="myFile" Visible="@UploadVisible" ExternalSelectButtonCssSelector="#overviewDemoSelectButton"
        ExternalDropZoneCssSelector="#overviewDemoDropZone" ExternalDropZoneDragOverCssClass="custom-drop-zone-hover"
        MaxFileSize="15000000" UploadUrl="@GetUploadUrl("/")" SelectedFilesChanged="@SelectedFilesChanged">
    </DxUpload>

</section>

@code {
    bool UploadVisible { get; set; } = false;
    protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files)
    {
        UploadVisible = files.ToList().Count > 0;
        InvokeAsync(StateHasChanged);
    }
    protected string GetUploadUrl(string url)
    {
        return NavigationManager.ToAbsoluteUri(url).AbsoluteUri;
    }
}