<section>
    <h3>Text Inputs</h3>
    <div class="d-flex flex-column text-start gap-2 w-50 mx-auto">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Boostrap Text
                Component</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Boostrap Text Component
                Error</label>
            <input type="email" class="form-control is-invalid" id="exampleFormControlInput1"
                placeholder="name@example.com">
            <div class="invalid-feedback">
                Please enter a correct e-mail.
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Boostrap Textarea
                Component</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleDxTextBox" class="form-label">Blazor Text Component</label>
            <DxTextBox NullText="Enter username" id="exampleDxTextBox" CssClass="form-control" />
        </div>
    </div>
</section>

<section class="w-50 mx-auto">
    <h3>Blazor Search Box</h3>
    <DxSearchBox ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Search by name or address"
        CssClass="search-control" aria-label="Search" />
</section>