<section class="w-50 mx-auto">
    <h3>Tabs</h3>

    <div class="pt-5 d-flex flex-column gap-2">
        <h5>Size Small</h5>
        <DxTabs SizeMode="SizeMode.Small">
            <DxTab Text="Home"></DxTab>
            <DxTab Text="Products"></DxTab>
            <DxTab Text="Support"></DxTab>
        </DxTabs>
    </div>
    <div class="pt-5 d-flex flex-column gap-2">
        <h5>Size medium</h5>
        <DxTabs>
            <DxTab Text="Home"></DxTab>
            <DxTab Text="Products"></DxTab>
            <DxTab Text="Support"></DxTab>
        </DxTabs>
    </div>
    <div class="pt-5 d-flex flex-column gap-2">
        <h5>Size Large</h5>
        <DxTabs SizeMode="SizeMode.Large">
            <DxTab Text="Home"></DxTab>
            <DxTab Text="Products"></DxTab>
            <DxTab Text="Support"></DxTab>
        </DxTabs>
    </div>
</section>
